# Environment variables definition
#
# This file declares env variables to be consumed on project execution
# See https://stackoverflow.com/a/52084653/298928.


#HOST=
#PORT=
#WORKERS=
#THREADS=
#RELOAD=

#DEBUG=
#SECRET_KEY=
#ALLOWED_HOSTS=

#STATIC_DIR=
